# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

w6gkd.radio {
  reverse_proxy /p1 p1:8002
  reverse_proxy /p2 p2:8003
  reverse_proxy /p3 p3:8004

  tls brian@wildsong.biz
}