# Use a TOKEN not a KEY here.
# See https://github.com/libdns/cloudflare#authenticating
# It will need Zone.Zone read and Zone.DNS edit permssions
CADDY_DOMAIN=yourdomain.com
CLOUDFLARE_API_TOKEN=
EMAIL=your_email_used_for_letsencrypt
