# Use a TOKEN not a KEY here.
# See https://github.com/libdns/cloudflare#authenticating
# It will need Zone.Zone read and Zone.DNS edit permssions
CADDY_DOMAIN=map46.com
CLOUDFLARE_API_TOKEN=-PqzJGwEJU1IYKm-dqed4rwCvrYJa2yXlk5wkiJ0
EMAIL=brian@wildsong.biz
